title= gistDescription || 'gistview'
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
link(rel='stylesheet', href='/css/base.css')
link(rel='stylesheet', href='/css/github.css')
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
link(rel='icon', href='/favicon.ico', type='image/x-icon')
