extends layout.jade
block content
    header.gist-header
        .description
            | view markdown files of your gist
        section.gist
            h2 Usage
            ul
                li Create a public gist on Github with one or more Markdown-syntax files.
                li Note the gist ID number. It’s usually a longish number like 29388372.
                li View your writing presented nicely at gist.io/gist-id-here

            :markdown
                This is a nodejs verison, partial copy of the [gist.io](http://gist.io), by Idan Gazit

                ## Source
                * [github]()
        


